<div class="modal-header">
  <h4 class="modal-title pull-left">Ajouter un pokemon</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<form [formGroup]="addGroup" (validSubmit)="onSubmit()">
  <div class="modal-body">
    <!-- FIRST -->
    <div class="form-group row">
      <div class="col-sm-12">
        <h5>Information Générale</h5>
      </div>
    </div>
    <div class="form-group row">
      <label for="name" class="col-sm-2 col-form-label">Nom</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="name" formControlName="name" placeholder="Nom">
        <bfv-messages></bfv-messages>
      </div>
    </div>
    <div class="form-group row">
      <label for="id" class="col-sm-2 col-form-label">Numéro</label>
      <div class="col-sm-10">
        <input type="number" class="form-control" id="id" formControlName="id" placeholder="Numéro">
        <bfv-messages></bfv-messages>
      </div>
    </div>
    
    <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Types</label>
        <div class="col-sm-10">
            <ng-select [items]="types"
                     bindLabel="name"
                     [multiple]="true"
                     [loading]="loading"
                     placeholder="Select Types"
                     formControlName="type"
                     >
          </ng-select>
          <bfv-messages></bfv-messages>
        </div>
      </div>

    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Ability</label>
      <div class="col-sm-10">
          <ng-select [items]="abilities"
                   bindLabel="name"
                   [multiple]="true"
                   [loading]="loading"
                   placeholder="Select abilities"
                   formControlName="ability"
                   >
        </ng-select>
        <bfv-messages></bfv-messages>
      </div>
    </div>

    <div class="form-row">
        <div class="form-group col-md-6">
          <label for="height">Taille</label>
          <input type="number" class="form-control" id="height" formControlName="height" placeholder="Taille">
          <bfv-messages></bfv-messages>
        </div>
        <div class="form-group col-md-6">
            <label for="weight">Poids</label>
            <input type="number" class="form-control" id="weight" formControlName="weight" placeholder="Poids">
            <bfv-messages></bfv-messages>
        </div>
    </div>


    <div class="dropdown-divider"></div>


      <!-- SECOND -->
      <div class="form-group row">
          <div class="col-sm-12">
            <h5>Statistiques</h5>
          </div>
      </div>

      <div class="form-row">
          <div class="form-group col-md-6">
            <label for="hp">Hp</label>
            <input type="number" class="form-control" id="hp" formControlName="hp" placeholder="Hp">
            <bfv-messages></bfv-messages>
          </div>
          <div class="form-group col-md-6">
              <label for="speed">Speed</label>
              <input type="number" class="form-control" id="speed" formControlName="speed" placeholder="Speed">
              <bfv-messages></bfv-messages>
          </div>
      </div>

      <div class="form-row">
          <div class="form-group col-md-6">
              <label for="Attack">Attack</label>
              <input type="number" class="form-control" id="Attack" formControlName="attack" placeholder="Attack">
              <bfv-messages></bfv-messages>
          </div>
          <div class="form-group col-md-6">
            <label for="Defence">Defence</label>
            <input type="number" class="form-control" id="Defence" formControlName="defence" placeholder="Defence">
            <bfv-messages></bfv-messages>
          </div>
      </div>

      <div class="form-row">
          <div class="form-group col-md-6">
              <label for="speAttack">Special Attack</label>
              <input type="number" class="form-control" id="speAttack" formControlName="speAttack" placeholder="Special Attack">
              <bfv-messages></bfv-messages>
          </div>
          <div class="form-group col-md-6">
            <label for="speDefence">Special Defence</label>
            <input type="number" class="form-control" id="speDefence" formControlName="speDefence" placeholder="Special Defence">
            <bfv-messages></bfv-messages>
          </div>
      </div>
      
      <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Moves</label>
          <div class="col-sm-10">
              <ng-select [items]="moves"
                       bindLabel="name"
                       [multiple]="true"
                       placeholder="Select Moves"
                       formControlName="move"
                       >
            </ng-select>
            <bfv-messages></bfv-messages>
          </div>
        </div>

      <div class="form-group row">
        <label for="image" class="col-sm-2 col-form-label">Image</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="image" formControlName="image" placeholder="Url from web">
          <bfv-messages></bfv-messages>
        </div>
      </div>

  </div>
  <div class="modal-footer">
    <button *ngIf="!isDarkTheme" type="button" class="btn btn-outline-dark" (click)="bsModalRef.hide()">{{ 'close' | translate }}</button>
    <button *ngIf="isDarkTheme" type="button" class="btn btn-outline-light" (click)="bsModalRef.hide()">{{ 'close' | translate }}</button>   
    
    <button *ngIf="!isDarkTheme" type="submit" class="btn btn-outline-primary">{{ 'validate' | translate }}</button>
  </div>
</form>    