<div class="modal-header">
  <h4 class="modal-title pull-left">Ajouter un pokemon</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <form>
    <!-- FIRST -->

    <div class="form-group row">
      <div class="col-sm-12">
        <h5>Information Générale</h5>
      </div>
    </div>
    <div class="form-group row">
      <label for="inputEmail3" class="col-sm-2 col-form-label">Nom</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputEmail3" placeholder="Nom">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Numéro</label>
      <div class="col-sm-10">
        <input type="text" class="form-control" id="inputPassword3" placeholder="Numéro">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Taille</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="height" placeholder="Taille">
      </div>
      <label for="inputPassword3" class="col-sm-2 col-form-label">Poids</label>
      <div class="col-sm-4">
        <input type="text" class="form-control" id="weight" placeholder="Poids">
      </div>
    </div>
    <div class="form-group row">
      <label for="inputPassword3" class="col-sm-2 col-form-label">Ability</label>
      <div class="col-sm-10">
         <!-- <ng-select [items]="cities2"
                   bindLabel="name"
                   bindValue="id"
                   [multiple]="true"
                   placeholder="Select cities"
                   [(ngModel)]="selectedCityIds">
        </ng-select>-->
      </div>
    </div>

    <div class="dropdown-divider"></div>


      <!-- SECOND -->
      <div class="form-group row">
          <div class="col-sm-12">
            <h5>Statistiques</h5>
          </div>
      </div>
  
      <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Hp</label>
          <div class="col-sm-4">
            <input type="number" class="form-control" id="height" placeholder="Taille">
          </div>
          <label for="inputPassword3" class="col-sm-2 col-form-label">Special Attack</label>
          <div class="col-sm-4">
            <input type="number" class="form-control" id="weight" placeholder="Poids">
          </div>
        </div>
     
      <div class="form-group row">
        <label for="inputPassword3" class="col-sm-2 col-form-label">Speed</label>
        <div class="col-sm-4">
          <input type="number" class="form-control" id="height" placeholder="Taille">
        </div>
        <label for="inputPassword3" class="col-sm-2 col-form-label">Special Defense</label>
        <div class="col-sm-4">
          <input type="number" class="form-control" id="weight" placeholder="Poids">
        </div>
      </div>

      <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Defence</label>
          <div class="col-sm-4">
            <input type="number" class="form-control" id="height" placeholder="Taille">
          </div>
          <label for="inputPassword3" class="col-sm-2 col-form-label">Attack</label>
          <div class="col-sm-4">
            <input type="number" class="form-control" id="weight" placeholder="Poids">
          </div>
      </div>


  </form>    
</div>
<div class="modal-footer">
  <button *ngIf="!isDarkTheme" type="button" class="btn btn-outline-dark" (click)="bsModalRef.hide()">{{ 'close' | translate }}</button>
  <button *ngIf="isDarkTheme" type="button" class="btn btn-outline-light" (click)="bsModalRef.hide()">{{ 'close' | translate }}</button>   
  
  <button *ngIf="!isDarkTheme" type="button" class="btn btn-outline-primary" (click)="bsModalRef.hide()">{{ 'validate' | translate }}</button>
</div>