<div class="column bodyHome">
    <div class="row card-group justify-content-center"  style="margin:0px!important">
      <div *ngIf="localPokemons.length == 0"style="margin-top:40px!important">
          <div class="card" >
              <div class="card-body" >
                <div class="row">
                  <div class="col-12">
                    <h4>{{ 'no_pokemon' | translate }}</h4>
                  </div>
                </div>
              </div>
            </div>
      </div> 
      <div class="col-lg-3 col-md-6 col-sm-12" *ngFor="let pokemon of localPokemons">
          <app-card [data]="pokemon"></app-card>
      </div>
    </div>   
    <div (click)="openDialogAdd()" class="float">
      <i class="my-float material-icons">add</i>
    </div>
  </div>
  