<carousel [interval]="interval" >
  <slide *ngIf="data.sprites.front_default != null">
      <img src="{{data.sprites.front_default}}" alt="first slide" style="display: block; margin:auto; width: 200px">
  </slide>
  <slide *ngIf="data.sprites.back_default != null">
      <img src="{{data.sprites.back_default}}" alt="first slide"  style="display: block; margin:auto; width: 200px">
  </slide>
  <slide *ngIf="data.sprites.front_shiny != null">
      <img src="{{data.sprites.front_shiny}}" alt="first slide" style="display: block; margin:auto; width: 200px">
  </slide>
  <slide *ngIf="data.sprites.back_shiny != null">
        <img src="{{data.sprites.back_shiny}}" alt="first slide" style="display: block; margin:auto; width: 200px">
  </slide>
</carousel>
