<div class="modal-header">
  <h4 class="modal-title pull-left">{{pokemon.name}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
    <app-carousel [data]="pokemon" [interval]="500" style="background:#CEBEC2!important"></app-carousel>
    <tabset #staticTabs>
        <tab heading="Informations">
            Height : {{pokemon.height}}
            Weight : {{pokemon.weight}}
        </tab>
        <tab heading="Stats">
            <div style="display: block">
                <canvas baseChart
                  [datasets]="radarChartData"
                  [options]="radarChartOptions"
                  [labels]="radarChartLabels"
                  [chartType]="radarChartType">
                </canvas>
              </div>
        </tab>
        <tab heading="Other">Static content 2</tab>
    </tabset>
  
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">{{closeBtnName}}</button>
</div>