<div>
  <div class="column bodyHome justify-content-center">
      <div class="card">
          <div class="card-header">
              {{ 'dark_theme' | translate }}
          </div>
          <div class="card-body" >
            <div class="row">
              <div class="col-8">
                <p class="card-text">{{ 'text_dark' | translate }}</p>
              </div>
              <div class="col-4">
                <ui-switch  color="#0069d9" (change)="changeTheme($event)" [(ngModel)]="isDarkTheme"></ui-switch>
              </div>
            </div>
          </div>
        </div>

        <div class="card">
            <div class="card-header">
              {{ 'change_langue' | translate }}
            </div>
            <div class="card-body">
              <h5 class="card-title"></h5>
              <p class="card-text">{{ 'choose_langue' | translate }}
              <select class="custom-select custom-select-lg mb-3" (change)="changeLang($event.target.value)" >
                  <option value="" disabled selected> {{ 'now' | translate }} : {{ currentLang }}</option>
                  <option *ngFor="let lang of langues" value="{{lang.value}}">{{lang.name}}</option>
                </select>            
              </p>
            </div>
          </div>
          
          <div class="card">
            <div class="card-header">
              {{ 'change_quality' | translate }}
            </div>
            <div class="card-body" >
              <div class="row">
                <div class="col-8">
                  <p class="card-text">{{ 'change_quality_text' | translate }}</p>
                </div>
                <div class="col-4">
                  <ui-switch  color="#0069d9" (change)="changeQuality($event)" [(ngModel)]="isHightQuality"></ui-switch>
                </div>
              </div>
            </div>
          </div>

          <div class="card">
              <div class="card-header">
                  {{ 'developer' | translate }}
              </div>
              <div class="card-body">
                  <ul class="list-group list-group-flush">
                      <li class="list-group-item">
                        <h5 class="card-title">{{ 'name' | translate }} :  Yztoc</h5>
                      </li>
                      <li class="list-group-item">
                        <p class="card-text">{{ 'project' | translate }}</p> 
                      </li>
                      <li class="list-group-item">
                        <p class="card-text">{{ 'version' | translate }}</p>
                      </li>
                      <li class="list-group-item">
                        <a href="https://github.com/Yztoc/pokedex" target="_blank" class="btn btn-primary">{{ 'github' | translate }}</a>
                      </li>
                    </ul>
              </div>
          </div>
          <div style="width: 60%!important;margin: auto;" >
              <alert *ngIf="isThemeChange" type="success">
                <div *ngIf="isDarkTheme" >{{ 'dark_theme_notif' | translate }}</div>
                <div *ngIf="!isDarkTheme">{{ 'light_theme_notif' | translate }}</div>
              </alert>
              <alert *ngIf="isLangChange" type="success">{{ 'lang_notif' | translate }}</alert>
              <alert *ngIf="isQualityChange" type="success">{{ 'quality_notif' | translate }}</alert>
          </div>
          
  </div>
 
</div>