.modal-header{
    background-color: var(--primary-color)!important;
    color: var(--text-color)!important;
}

.modal-body{
    background-color: var(--background-color)!important;
    color: var(--text-color)!important;
}

.modal-footer{
    background-color: var(--background-color)!important;
    color: var(--text-color)!important;
}

.nav-tabs{
    background-color: var(--primary-color)!important;
    color: var(--text-color)!important;
}

.nav{
    background-color: var(--primary-color)!important;
    color: var(--text-color)!important;
}
.tab-content{
    background-color: var(--primary-color)!important;
    color: var(--text-color)!important;    
}

.list-group-item{
    background-color: var(--primary-color)!important;
    color: var(--text-color)!important;        
}

.nav-link{
    color: var(--text-color)!important;    
}

.list-overflow{
    overflow: scroll;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 40vh;
}

.form-control{
    margin-top: 10px; 
    background-color: var(--primary-color)!important;
    border: 1px solid #c4c3c3;
    color: var(--text-color)!important;
    font-size: 16px;
}

.active {
    background-color: var(--primary-color)!important;
    color: var(--text-color)!important;
}