<div class="card">

    <div *ngIf="data.local" class="col-12" style="background-color: #d3d3d3">
        <a style="float: right; margin-top:10px; display: inline-block; white-space: nowrap;clear:right;cursor: pointer;" (click)="deleteLocalPokemon(data.name)"><i style="color:black;" class="material-icons">delete</i></a>
    </div>
    <app-carousel [data]="data" [interval]="0" class="carousel"></app-carousel>

    <div class="container">
        
      <h4 class="title"><b>{{ data.name }}</b></h4> 
      <h6 class="title">{{ 'number' | translate }} : {{data._id}}</h6> 
      <div class="row" style="margin-bottom: 10px">
        <div class="col-4">
            <div *ngFor="let type of data.types">
                <img style="float: left; display: inline-block; white-space: nowrap;clear:left;" src="../../../assets/icon_types/{{type.name}}.gif"/>  
            </div>
        </div>
        <div class="col-8">
            <button style="float: right; display: inline-block; white-space: nowrap;clear:right;" *ngIf="!isDarkTheme" type="button" class="btn btn-outline-dark" (click)="openDialog(data.name, data.local)">{{ 'details' | translate }}</button>
            <button style="float: right; display: inline-block; white-space: nowrap;clear:right;" *ngIf="isDarkTheme" type="button" class="btn btn-outline-light" (click)="openDialog(data.name, data.local)">{{ 'details' | translate }}</button>
        </div>
      </div>

    </div>
</div>